footer{
    padding: 30px;
}
.imagenes {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding-bottom: 30px;
}
.imagenes img:nth-child(n){
    display: block;
    /* width: 100%; */
    max-width: 150px;
}
.imagenes-dos{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.imagenes-dos img{
    display: block;
    width: 100%;
    max-width: 240px;
}
footer blockquote{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}