footer{
    padding: 30px;
}
.imagenes {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding-bottom: 30px;
}
.imagenes figcaption{
    max-width: 150px;
}
.imagenes img{
    display: block;
    width: 100%;
}
.imagenes figcaption:nth-child(3)> img{
    padding: 25% 20%;
    max-width: 200px;
}
.imagenes figcaption:nth-child(4)> img{
    padding: 35% 5%;
    max-width: 400px;
}
footer blockquote{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}