<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="icon" href="">
  <title>Tarjeta de presentacion</title>
  <link rel="stylesheet" href="css/header.css">
  <link rel="stylesheet" href="css/menu.css">
  <link rel="stylesheet" href="css/contenedor.css">
  <link rel="stylesheet" href="css/footer.css">
  <link rel="stylesheet" href="css/icon.css">
  <link rel="stylesheet" href="css/cajas.css">
</head>
<body>
  <section class="wrapper">
    <section class="contenedor">
      <header class="cabecera">
        <div class="difuminado"></div>
        <div class="titulo">
          <h2>
            Tarjeta de presentación
          </h2>
        </div>
        <div class="logo">
          <figcaption>
            <img src="img/perfil.jpeg">
          </figcaption>
        </div>
      </header>
      <div class="sepadador"></div>
      <article id="contenedor" class="cuerpo">
        <div class="menu">
          <ul>
            <li v-for="(item, index) of menu">
              <span :class="[item?'active':'']" @click="menuSeleccionar(index)">{{index}}</span>
            </li>
          </ul>
        </div>
        <div >
          <h2>Desarrollador web</h2>
        </div>
        <article v-if="menu.info" class="datos">
          <div>
            <div>
              <span>Nombres: </span>
              <span>Giann Luiggi</span>
            </div>
            <div>
              <span>Apellidos: </span>
              <span>Checa Concho</span>
            </div>
            <div>
              <span>Fecha de Nacimiento: </span>
              <span>19-07-1997</span>
            </div>
            <div>
              <span>Lugar de Origen: </span>
              <span>Arequipa - Perù</span>
            </div>
            <div>
              <span>Sexo: </span>
              <span>Masculino</span>
            </div>
            <div>
              <span>Edad: </span>
              <span>21</span>
            </div>
          </div>
          <footer>
              <article class="imagenes">
                <figcaption><img src="img/html5.png"></figcaption>
                <figcaption><img src="img/css3.png"></figcaption>
                <figcaption><img src="img/js.png"></figcaption>
                <figcaption><img src="img/vuejs.png"></figcaption>
              </article>
              <article class="imagenes-dos">
              </article>
              <article class="info">
                <blockquote>
                  <span>Correo:<address>giannluiggi.18@hotmail.com</address></span>
                  <span>Redes Sociales <br> <a class="facebook-icon" href="https://www.facebook.com/luiggi.checa"></a> </span>
                </blockquote>
              </article>
            </footer>
        </article >
        <article v-if="menu.cajas" class="datos">
            <div id="seccionCajas" class="gameCajas">
            </div>
        </article>
      </article>
    </section>
  </section>
  <script src="js/lib/vue.js"></script>
  <script src="js/app.js"></script>
</body>
</html>
